<nav class="navbar navbar-expand-sm bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-Ticaret</font></font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Gezinmeyi değiştir">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ev</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'erkek' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">erkek</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kadın' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">kadın</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cocuk' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">çocuk</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'evyasam' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ev yaşam</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tekneloji' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">teknoloji</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tekneloji' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giriş</font></font></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Aramak" aria-label="Aramak">
          <button class="btn btn-outline-light" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aramak</font></font></button>
        </form>
      </div>
    </div>
  </nav>
